@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #f5f4fb;
}

@font-face {
  font-family: 'gothamprobold';
  src: url("../public/font/gothamprobold.ttf");
}

@font-face {
  font-family: 'gothampromedium';
  src: url("../public/font/gothampro_medium.ttf");
}

@font-face {
  font-family: 'gothamprolight';
  src: url("../public/font/gothampro.ttf");
}
